:root{
    --red:#ec952b;
    --black:#252a34;
    --blue:#06876e;
    --white:#eaeaea;
    --grey:#74777b;
    --greyl:#CCC;
    --greo:#b45037;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}


/* go top*/
.go-top{
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    background: #fff;
    z-index:9999; /* se superpone*/

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;

}
.go-top:hover{
    border: 2px solid var(--white);
    background: var(--red);
}

.go-top:hover span{
    color:var(--white);
}

.go-top > span{
    font-size:30px;
    color: var(--black);

}


/* menu de navegacion*/
#header{
    position: relative;
    width:100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

}

.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
    

}

.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lista{
    display: flex;
}
.menu .list-container .lista li{
    list-style: none;        
}

.menu .list-container .lista li a{
           text-decoration: none;
           margin: 0px 10px;
           padding: 8px;
           color: var(--black);
           border-radius: 24px;
           font-size: 16px;
           transition: 0.3s;
}

.menu .list-container .lista li a.activo{
    background:var(--red);
    color: #fff;
}

.menu .list-container .lista li a:hover{
    background:var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/* menu de navegacion*/

/*Img Header*/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/wimg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.img-header .welcome h1{
    font-size:50px ;
    color: #fff;
    font-weight: 200px;
    text-align: center;
}
.img-header .welcome hr{
    width: 400px;
    height:2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background: var(--blue);
}
/*Img Header*/

/* Acerca de */

.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.acerca-de .info-container p{
    font-size: 17px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    margin: 10px 0px;
}
.acerca-de .info-container .about-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.acerca-de .info-container .about-galeria img{
    width: calc(33.333%-10px);
    height: 300px;
    margin: 10px 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;

}

.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;

}

.acerca-de .info-container .about-more button{
    width: 200px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.acerca-de .info-container .about-more button:hover{
    background: var(--blue);
}

/*wsp*/
.acerca-de .info-container .about-more a{
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    
}
.acerca-de .info-container .about-more a:hover{
    background: #06876e;
}


/*wsp*/


.acerca-de .info-container .insta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Acerca de */





/*media query*/

@media only screen and (max-width:773px){
    .acerca-de .info-container .about-galeria{flex-direction: column;}
    .acerca-de .info-container .about-galeria img{width: 100%;}
}
@media only screen and (max-width:590px){
    .acerca-de .info-container h1{font-size: 30px;}
    .acerca-de .info-container p{font-size: 15px;}
}

/*media query*/




/*Nuestros proyectos*/

.our-proyects{
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url(../img/wimg5.jpg);*/
    background: #252a34;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.our-proyects .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);

}
.our-proyects .ejeZproyects{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.our-proyects .container-proyect{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.our-proyects .container-proyect .proyect-title{
    border: 2px solid #fff;
    padding:15px;
    text-align: center;
    width: 50%;
    margin: auto;
   
}

.our-proyects .container-proyect .proyect-title h2{
    font-size: 35px;
    color: #fff;
    font-weight: 400;
}
.our-proyects .container-proyect .proyect-title hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}
.our-proyects .container-proyect .proyect-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;

}

.our-proyects .container-proyect .proyect-img img{
    /*width: calc(30%-10px);*/
    width: 30%;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}



/*Nuestros proyectos*/




/*comentarios*/

.testimonios{
    width: 100%;
    margin-top: 120px;

}

.testimonios .fb{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:1px solid;
}

.testimonios .testimonios-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonios .testimonios-title h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}
.testimonios .testimonios-title hr{
    width: 60%;
    margin: auto;
    height: 3px;
    background: var(--black);
    border: none;
}

.testimonios .testimonios-title .fb {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.testimonios .box-testimonios{
    width: 90%;
    margin:80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonios .box-testimonios .card-testimonios{
    width: 45%;
    margin: 20px;

}
.testimonios .box-testimonios .card-testimonios .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonios .box-testimonios .card-testimonios .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.testimonios .box-testimonios .card-testimonios .testimonios-text{
    width: 100%;
    border: 2px solid var(--red);
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}

.testimonios .box-testimonios .card-testimonios .testimonios-text h4{
    color: var(--red);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    transition: 200ms;

}
.testimonios .box-testimonios .card-testimonios .testimonios-text p{
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    padding:10px;
    transition: 200ms;
}
.testimonios .box-testimonios .card-testimonios .testimonios-text:hover{
    border:2px solid var(--blue) ;
}
.testimonios .box-testimonios .card-testimonios .testimonios-text:hover h4{
    color: var(--blue);
}
/*comentarios*/


/*footer*/

.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(..//img/wfooter.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.6) ;
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 90%;
    
    margin: auto;
}

.footer .footer-content .footer-title{
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 20px;
    
}

.footer .footer-content .footer-title h2{
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 5px;

}

.footer .footer-content .footer-title hr{
    background: #fff;
    height: 2px;
    width: 80%;
    margin: auto;
    
}

.footer .footer-content .formulario-content{
    width: 60%;
    /*background: #fff;*/
    border-radius:20px;
    border: 2px solid var(--red);
    margin: 50px auto;
    padding: 30px;
    margin:50px auto;
    background: rgba(0, 0, 0, 0.6);

}
.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    
    
}
.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color:var(--black);
    font-size:20px;
    margin: 30px 0px 10px 0px;
    color: #fff;

}

/*newletter*/

.footer .footer-content .formulario-content #formularioR input{
    width: 90%;
    height:40px;
    margin:auto;
    border:1.5px solid var(--red);
    border-radius:24px;
    outline: none;
    text-align:center;
    font-size:15px;
    
    
}


.footer .footer-content .formulario-content #formularioR .send #buttonS{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.footer .footer-content .formulario-content #formularioR .send #buttonS:hover{
    background: var(--blue);
}

.footer .footer-content .formulario-content #formularioR .mensaje-form p{
    font-weight: 19px;
    color: var(--black);
    line-height: 35px;
    text-align:center;
    color: #fff;
}


/**/







.footer .footer-content .formulario-content #formulario input{
    width: 90%;
    height:40px;
    margin:auto;
    border:1.5px solid var(--red);
    border-radius:24px;
    outline: none;
    text-align:center;
    font-size:15px;
    
    
}

.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin:auto;
    border:2px solid var(--red);
    border-radius:24px;
    outline: none;
    font-size:15px;
    color:var(--black);
    padding:20px;
}
.footer .footer-content .formulario-content #formulario .send{
    margin: 30px;
    display: flex;
    justify-content: center;
}

.footer .footer-content .formulario-content #formulario .mensaje-form p{
    font-weight: 19px;
    color: var(--black);
    line-height: 35px;
    text-align:center;
    color: #fff;
}


.footer .footer-content .formulario-content #formulario .send button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .footer-content .formulario-content #formulario .send button:hover{
    background: var(--blue);
}

.footer .footer-content .footer-text{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
    border-top:2px solid #fff;

    display:flex;
    justify-content: center;
    align-items: center;

}

.footer .footer-content .footer-text p{
    color:#fff;
    font-size:20px;
    text-align: center;
}


/*footer*/


